a{
    text-decoration: none;
}

a:link{
    color:blue
}
a:visited {
    color:blueviolet
}
a:hover {
    text-decoration: underline;
}
a:active{
    color:purple
}
.redirectLinks{
    position:absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}
body{
    font-family: sans-serif;
    background-color: rgba(255,255,255);
    min-height: 100vh;
}

/* Main Search  Start*/
/* Image Search Start*/
.mainPageWrapper{
    min-width: none;
    min-height: 60vh;
}

.mainPageWrapper .logo{
    margin-top: 100px;
    position: absolute;
    top: 18%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mainPageWrapper .mainPageInput{
    position: absolute;
    width: 50%;
    margin-right: 100%;
    margin-left: 25%;

    top: 45%;

}



.mainPageInput form{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg") ;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.mainPageInput [type="text"] {
    width: calc(100% - 40px);
    padding-left: 40px;
    border-radius: 40px;
    background-color: transparent;
    font-size: 16px;
    color: inherit;
    border: 1px solid black;
    height: 40px;
}

.mainPageInput form{
    display: block;
    right: 40px;
}

/* Image Search End */

.mainPageButtons{
    position: absolute;
    display: block;
    margin-left: 25%;
    margin-right: 25%;

    text-align: center;
    width: 50%;
    margin-top: 10px;

}



/* Advanced Image Search */

.appbar{
    height: 30px;
    color: red;
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 25px;
    font-size: 25px;
}

.seperator{
    border-color: black;
    border-bottom: 1px solid black;
    width: 100%;
}

.topFields{
    width: 90%;
    height: 25%;
    margin-left: 35px;
    margin-top: 75px;
}

label{
    padding-left: 10px;
    width: 200px;
    float: left;
}

.banner{
    height: 50px;
}

.fpw{
    margin-bottom: 35px;
    height: 10px;
    font-size: 20px;
    text-align: left;

}

.topFields input{
    width: 50%;
}

.topFields .input{
    display: flex;
    align-items: center;
}

.topFields .input label{
    width: 20%;
}

.topFields .input input[type=text]{
    width: 50%;
    padding: 5px;
}

.topFields .input .clarification{
    font-family: sans-serif;
    font-size: 11px;
    width: 25%;
    padding: 5px;
}

input:focus{
    outline-color: mediumturquoise;
}

.monospace{
    font-size: 11px;
    font-family: monospace;
}

.topFields .input .submitButton{
    width: 110px;
    background-color: rgb(41, 184, 240);
    height: 40px;
    border-radius: 5px;
    float: right;
}
