a:link{
    color:blue
}
a:visited {
    color:blue
}
a:hover {
    color:green
}
a:active{
    color:blueviolet
}
.redirectLinks{
    position:absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}
body{
    font-family: sans-serif;
    background-color: rgba(255,255,255);
}

.appbar{
    height: 30px;
    color: red;
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 25px;
    font-size: 25px;
}

.seperator{
    border-color: black;
    border-bottom: 1px solid black;
    width: 100%;
}

.topFields{
    width: 100%;
    height: 25%;
    margin-left: 35px;
    margin-top: 75px;
}

.inputFields{
    padding-left: 0px;
    overflow: hidden;
}

label{
    padding-left: 10px;
    width: 200px;
    float: left;
}

form{
    height: 50%;
    width: 100%;
    color: black
}

.banner{
    height: 50px;
}

.fpw{
    margin-bottom: 35px;
    height: 10px;
    font-size: 20px;
    text-align: left;

}

input{
    width:50%
}

.submitButton{
    background-color: rgb(41, 184, 240);
    height: 40px;
    border-radius: 5px;
    float: left;
    margin-right: 10%;
}
