{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Add a New Entry</h1>
    <!-- Action is where the result will be sent -->
    <form action="{% url 'newPage' %}" method="POST">
        {% csrf_token %}

        <label>Title:</label>
        <input type="text" name="title" placeholder="Enter Title">
        <br>

        <label>Content:</label>
        <br>
        <textarea name="content" placeholder="Enter text here... Please use markup language" name=""></textarea>
        <button>Submit Entry</button>

    </form>

{% endblock %}