body {
    padding: 10px;
}

.main_item_photo{
    height: 10%;
    width: 15%;
}

.main_item_photo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}

.index_item_photo img{
    height: 200px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    padding-left: 10px;
}

.index_item_photo{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.active_listings{
    border-style: solid;
    border-color: darkgray;
    align-content: center;
    border-width: 2px;
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

#active_listing_link{
    color: black;
    width: 100%;
}

#active_listing_photo{
    display: table-cell;
    width: 33%;
    text-align: middle;
    
}

#active_listing_info{
    display: table-cell;
    width: 67%;
    padding-left: 5%;
    vertical-align: middle;
    line-height: 50px;
}

#new_bid{
    width: 100%;
    margin-bottom: 1%;
}

#place_bid_btn{
    width: 100%;
    margin-bottom: 1%;
}

#watchlist_btn{
    width: 100%;
    margin-bottom: 1%;
}

#main_listing_photo{
    width: 100%;
    height: 500px;
    text-align: center;
    overflow: hidden;
}

#main_listing_photo img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

#search_bar{
    margin-bottom: 10px;
    width: 100%;
}

.item_comments{
    margin-top: 20px;
}

#comment_content{
    width: 100%;
    max-height: 50px;
}

.watcher_count {
    display: inline;
}